/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	margin-left: 27%;
	padding: 10px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Conteneur du menu des catégories */
.category-menu {
    display: flex; /* Affichage sur une ligne */
    justify-content: center; /* Centrer les éléments horizontalement */
    gap: 10px; /* Espacement de 10px entre chaque catégorie */
    margin-bottom: 20px; /* Espacement entre le menu et la galerie */
}

/* Style des boutons de catégorie */
.category-btn {
    background-color: transparent;
    border: 1px solid #1D6154;
    border-radius: 60px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effet au survol des boutons */
.category-btn:hover {
    background-color: #1D6154;
    color: white; /* Change la couleur du texte au survol */
}

.log {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center; /* Centrer le titre */
  }
  
  form {
	margin: 0 auto; /* Centrer le formulaire */
	width: 379px; /* Spécifie la largeur du formulaire pour qu'il soit centré */
  }
  
  form label {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: bold;
  }
  
  form input[type="email"],
  form input[type="password"] {
	width: 100%; /* Utilise 100% de la largeur du formulaire */
	padding: 10px;
	margin-bottom: 32px; /* Ajoute 32px d'espace entre les champs */
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	
  }
  

  form input[type="submit"]:hover {
	background-color: #0E2F28
  }
  
  a {
	display: block;
	text-align: center;
	margin-top: 15px;
	color: black;
  }
  
  h2.log {
	margin-bottom: 60px; /* Espace de 60px entre le titre et le formulaire */
  }
  
 
  body{
	background: #FFFEF8
  }
  
  .lgn a {
    color: black;
    text-decoration: none;
	margin-top: 1px;
	font-weight: 100;
}


/* Style de la modale */
.modal {
	display: none; /* Masquer la modale par défaut */
	
	z-index: 1;
	margin-left: 1%;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	

  }
  
  /* Contenu de la modale */
  .modal-content {
   background: #ffffff !important;
	
    margin: 660px auto;
    padding: 20px ;
    border: 1px  ;
    width:630px; /* Largeur de la modale */
    height: 660px; /* Hauteur de la modale */
    text-align: center; /* Centrer le texte */
    border-radius: 10px; /* Radius de la modale */
    position: absolute;
	left: 	30%;
    top: -130px;
}

  
  /* Bouton de fermeture */
  .close {
	color: #000000;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Style du lien éditable */
  .edit-link {
	
	color: #000000;
    text-decoration: none;
    font-size: 16px;
    display: flex
;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 0 auto;
    margin-left: 32%;
    margin-top: -4.8%;
    margin-bottom: 5%;
}
  
  
  /* Effet au survol du lien */
  .edit-link:hover {
	color: #1D6154;
	text-decoration: underline;
  }
  
  /* Style de l'icône */
  .edit-link i {
	margin-right: 8px; /* Espacement entre l'icône et le texte */
  }
  
  .modale-btn {
    background-color: transparent;
    border: 1px solid #1D6154;
    border-radius: 60px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; 
    bottom: 20px; /* Distance du bas de la modale */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Centrer horizontalement */
}

/* Effet au survol des boutons */
.modale-btn:hover {
    background-color: #1D6154;
    color: white; /* Change la couleur du texte au survol */
}
.galery_modal {
    font-weight: 400;
    font-size: 26px;
    line-height: 30.5px;
    text-align: center;
    color: #000000; /* Couleur du texte */
    background-color: transparent; /* Fond transparent */
}

.gallery-view {
	background-color: white !important;
  }
  
  .img-container {
	position: relative;
	display: inline-block;
  }
  
  .delete-icon-background {
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 2px;
	position: absolute;
	top: 10
	
  }
  

  .fa-trash-can {
    width: 18px !important;
    height: 17px !important;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    margin-top: 15px;
    right: 18px;
    cursor: pointer;
    color: #ffffff;
}



  .back {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
	font-size: 18px;
	color: #000;
  }
  
  .galery_modal {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  
  .upload-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .upload-placeholder {
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	border: 10px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .upload-placeholder i {

	font-size: 25px;
	color: #B9C5CC;
	font-size: 50px;
  }
  
  .choose-image-btn {
	width: 173px;
	height: 36px;
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	font-weight: bold;
  }
  
  .choose-image-btn:hover {
	background-color: #AABBC2;
  }
  
  .add-photo-view input[type="text"],
  .add-photo-view select {
	width: 420px;
	margin-bottom: 20px;
  }
  
  .add-photo-view .modale-btn {
	width: 420px;
	height: 51px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .add-photo-view .modale-btn:hover {
	background-color: #14543d;
  }


  #mode-edition-bar {
    background-color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;

    

}

  #mode-edition-bar span {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #FFFEF8;

  }

  #mode-edition-bar span i {
    font-size: 16px; 
    color: #FFFEF8;
  }